body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.feu-header {
    background-color: #014421; 
    color: #FFD700; 
}


.feu-form label {
    font-weight: bold;
    color: #014421;
}

.btn-feu {
    background-color: #014421;
    color: #FFD700;
    border: none;
}

.btn-feu:hover {
    background-color: #033d1d;
    color: #fff8dc;
}
